



.game-info-container{
  background-color: gray;
  color: #ddd;
  height: 80px;
  display: block;
  margin: 0 0 auto 0;
}

.section{
  display: inline-block;
  width: 25%;
  float: left;
  text-align: center;
  position: relative;
  top: 10px;
}

.section div{
  display: inline;
  color: white;
  font-weight: bold;
}

.form-container{
  text-align: center;
  margin: 0 auto;
}

.grid-container{
  width: 80%;
  margin: 0 auto;
}

.card{
  height: 60px;
  background-color: lightyellow;
  margin: 1%;
  border: 1px solid black;
  box-sizing: border-box;
  transition: 0.5s all;
  transform: rotateY(180deg);
  display: inline-block;
}

.name{
  font-size: large;
  backface-visibility: hidden;
  transition: 0.5s all;
  transform: translateY(60%) rotateY(180deg);
  text-align: center;
}

.revealed{
  transform: rotateY(0deg);
}

.revealed .name {
  transform: translateY(60%) rotateY(0deg);
}

.correct{
  background-color: lime;
  border-color: darkgreen;
}

